<div class="container">
    <h1>Stoneybrook of Palmer Ranch - April 23, 2023</h1> 
    <div class="form-check">
        <form id="golfSignup">
            <div><strong style="font-size:30px;">Golf Sign Up</strong></div>
            <br />
            <fieldset>
                <legend>Please choose participation level and complete information below</legend>
                <div style="padding-bottom:5px;">
                    <input type="radio" name="participation" id="scarlet" value="scarlet" (click)="calculateTotalCost()"><span style="padding-left:5px;"><label for="scarlet"><strong>Scarlet Sponsor</strong> ($780) includes one Hole Sponsorship, 4 golfers, lunch(4) and 12 raffle tickets</label></span>
                </div>
                <div style="padding-bottom:5px;">
                    <input type="radio" name="participation" id="gray" value="gray" (click)="calculateTotalCost()"><span style="padding-left:5px;"><label for="gray"><strong>Gray Sponsor</strong> ($440) includes one Hole Sponsorship, 2 golfers, lunch (2) and 6 raffle tickets</label></span>
                </div>
                <div style="padding-bottom:5px;">
                    <input type="radio" name="participation" id="single" value="single" (click)="calculateTotalCost()"><span style="padding-left:5px;"><label for="single"><strong>Single</strong> ($175) includes lunch and 3 raffle tickets</label></span>
                </div>
                <div style="padding-bottom:5px;">
                    <input type="radio" name="participation" id="holeSponsor" value="holeSponsor" (click)="calculateTotalCost()"><span style="padding-left:5px;"><label for="holeSponsor"><strong>Hole Sponsor </strong>($150) includes lunch (does not include golf)</label></span>
                </div>
            </fieldset>
            <hr />
            <div *ngIf="holeSponsor"><br />Thank you for sponsoring a hole!</div>
            <br />
            <div *ngIf="totalGolfers > 0">
                Please enter details for {{totalGolfers}} golfers:
                <br />
                <br />
                <div class="form-group col-md-3">
                    (1) <label for="name1">Name:</label>
                    <input type ="text" id="name1" class="form-control">
                </div>
                <div class="form-group col-md-3">
                    <label for="address1">Mailing Address:</label>
                    <input type ="text" id="address1" class="form-control">
                </div>
                <div class="form-group col-md-3">
                    <label for="email1">Email Address:</label>
                    <input type ="email" id="email1" class="form-control">
                </div>
                <div class="form-group col-md-3">
                    <label for="phone1">Phone:</label>
                    <input type ="text" id="phone1" class="form-control">
                </div>
            </div>
            <div *ngIf="totalGolfers > 1">
                <br />
                <div class="form-group col-md-3">
                    (2) <label for="name2">Name:</label>
                    <input type ="text" id="name2" class="form-control">
                </div>
                <div class="form-group col-md-3">
                    <label for="address2">Mailing Address:</label>
                    <input type ="text" id="address2" class="form-control">
                </div>
                <div class="form-group col-md-3">
                    <label for="email2">Email Address:</label>
                    <input type ="email" id="email2" class="form-control">
                </div>
                <div class="form-group col-md-3">
                    <label for="phone2">Phone:</label>
                    <input type ="text" id="phone2" class="form-control">
                </div>
            </div>
            <div *ngIf="totalGolfers > 2">
                <br />
                <div class="form-group col-md-3">
                    (3) <label for="name3">Name:</label>
                    <input type ="text" id="name3" class="form-control">
                </div>
                <div class="form-group col-md-3">
                    <label for="address3">Mailing Address:</label>
                    <input type ="text" id="address3" class="form-control">
                </div>
                <div class="form-group col-md-3">
                    <label for="email3">Email Address:</label>
                    <input type ="email" id="email3" class="form-control">
                </div>
                <div class="form-group col-md-3">
                    <label for="phone3">Phone:</label>
                    <input type ="text" id="phone3" class="form-control">
                </div>
            </div>
            <div *ngIf="totalGolfers > 3">
                <br />
                <div class="form-group col-md-3">
                    (4) <label for="name4">Name:</label>
                    <input type ="text" id="name4" class="form-control">
                </div>
                <div class="form-group col-md-3">
                    <label for="address4">Mailing Address:</label>
                    <input type ="text" id="address4" class="form-control">
                </div>
                <div class="form-group col-md-3">
                    <label for="email4">Email Address:</label>
                    <input type ="email" id="email4" class="form-control">
                </div>
                <div class="form-group col-md-3">
                    <label for="phone4">Phone:</label>
                    <input type ="text" id="phone4" class="form-control">
                </div>
            </div>
            <br /> 
            <div *ngIf="totalGolfers > 0"><hr />
                <fieldset>
                <legend>Each golfer is signed up for a lunch.  Would you like to sign others up for lunch ($40/each)?</legend>
                <div style="padding-bottom:5px;">
                    <input type="radio" name="extraLunch" id="lunchYes" value="lunchYes" (click)="showExtraLunch()"><span style="padding-left:5px;"><label for="lunchYes">Yes</label></span>
                </div>
                <div style="padding-bottom:5px;">
                    <input type="radio" name="extraLunch" id="lunchNo" value="lunchNo" (click)="hideExtraLunch();calculateTotalCost();"><span style="padding-left:5px;"><label for="lunchNo">No</label></span>
                </div>
                </fieldset>
                <hr />
            </div>
            <div *ngIf="extraLunch || sponsorOnly">
                <div *ngIf="sponsorOnly">You are signed up for 1 lunch.  You can also add others ($40/each)</div>
                <div>(1) <label for="lunch1">Name:</label><span style="padding-left:5px;"><input type ="text" id="lunch1" (blur)="calculateTotalCost()"></span></div>
                <div>(2) <label for="lunch2">Name:</label><span style="padding-left:5px;"><input type ="text" id="lunch2" (blur)="calculateTotalCost()"></span></div>
                <div>(3) <label for="lunch3">Name:</label><span style="padding-left:5px;"><input type ="text" id="lunch3" (blur)="calculateTotalCost()"></span></div>
                <div>(4) <label for="lunch4">Name:</label><span style="padding-left:5px;"><input type ="text" id="lunch4" (blur)="calculateTotalCost()"></span></div>
                <hr />
            </div>
            <div *ngIf="totalRaffleTickets > 0">
                <fieldset>
                    <legend>You have {{totalRaffleTickets}} raffle tickets.  Would you to purchase more ($10 for 3, #20 for 8)?</legend>
                    <div style="padding-bottom:5px;">
                        <input type="radio" name="extraRaffle" id="raffleYes" value="raffleYes" (click)="showExtraRaffle()"><span style="padding-left:5px;"><label for="raffleYes">Yes</label></span>
                    </div>
                    <div style="padding-bottom:5px;">
                        <input type="radio" name="extraRaffle" id="raffleNo" value="raffleNo" (click)="hideExtraRaffle();calculateTotalCost();"><span style="padding-left:5px;"><label for="raffleNo">No</label></span>
                    </div>
                </fieldset>
                <hr />
            </div>
            <div *ngIf="extraRaffle || sponsorOnly">
                <div>Raffle Tickets</div>
                <div><label for="raffle1"># at $10 for 3:</label><span style="padding-left:5px;"><input type ="text" id="raffle1" (blur)="calculateTotalCost()"></span></div>
                <br />
                <div><label for="raffle2"># at $20 for 8:</label><span style="padding-left:5px;"><input type ="text" id="raffle2" (blur)="calculateTotalCost()"></span></div>
                <br />
                Total Raffle Tickets: {{totalRaffleTickets}}
                <hr />
            </div>
            <div><label for="donation">Other Donation:</label><span style="padding-left:5px;"><input type ="text" id="donation" (blur)="calculateTotalCost()"></span></div>
            <hr />
            <div><label for="comments">Any Additional Comments?</label><br /><textarea rows="5" cols="90" id="comments"></textarea></div>
            <hr />
        </form>
        <br />
        <div style="font-size:20px;"><strong>Total Cost:</strong><span id="totalCost" style="padding-left:5px">${{totalCost}}</span></div>
    </div>
    <hr />
</div>

