<div class="container">
    <div class="row">
        {{game.awayTeam.name}} {{game.awayTeam.score}}
    </div>
    <div class="row">
        {{game.homeTeam.name}} {{game.homeTeam.score}}
    </div>
    <div class="row">
        <ng-container *ngIf="game.time.remainingTime === '0:00'; else gameActive">
            Half Time
        </ng-container>
        <ng-template #gameActive>
            {{game.time.quarter}} Quarter - {{game.time.remainingTime}}
        </ng-template>
    </div>
</div>


