<div class="container">
    <div class="row">
        {{game.away_team.name}} {{game.box_score.score.away.score}}
    </div>
    <div class="row">
        {{game.home_team.name}} {{game.box_score.score.home.score}}
    </div>
    <div class="row">
        <ng-container *ngIf="game.box_score.progress.string === '0:00'; else gameActive">
            Half Time
        </ng-container>
        <ng-template #gameActive>
            {{game.box_score.progress.segment_description}} - {{game.box_score.progress.string}}
        </ng-template>
    </div>
</div>


