<div class="container">
    <div class="form-check">Payment Options:</div>
    <br />
    <div class="form-check">
        Venmo<br />
    </div>
    <a href="https://venmo.com/code?user_id=2315571655868416997&created=1674521670"><img src="../assets/venmo.jpg" style="width:250px;height:200px;"><img></a>
    <br /><hr />
    <div class="form-check">
        Zelle<br />
    </div>
    <a href="https://enroll.zellepay.com/qr-codes?data=eyJuYW1lIjoiU0NPVFQiLCJ0b2tlbiI6Im9zdTVuY0BnbWFpbC5jb20iLCJhY3Rpb24iOiJwYXltZW50In0="><img src="../assets/zelle.jpg" style="width:250px;height:300px;"><img></a>
    <br /><hr />
    <div class="form-check">
    Send a Check
    <br />
    Payable to Sarasota Manatee OSU Alumni Club
    <br />
    Mail to Address: 
    <br />
    Tom Wagenhauser, Club Treasurer
    <br />
    7618 Heyward Circle, University Park, FL 34201
    </div>
</div>